<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Members</title>
    <link rel="stylesheet" th:href="@{/css/members.css}" />
    <script th:inline="javascript">
        /*<![CDATA[*/
        var token = /*[[${session.token}]]*/ 'null';
        if (token === 'null') {
            window.location.href = '/';
        }
        /*]]>*/
    </script>
</head>
<body>
    <div class="members-container">
        <h2>Members</h2>
        <div class="button-container">
            <button class="home-button" onclick="window.location.href='/'">Back to Home</button>
            <button class="edit-profile-button" onclick="window.location.href='/member/profile'">Edit Profile</button>
        </div>
        <ul>
            <li th:each="member : ${members}">
                <span th:text="${member.username}"></span>
                <a th:href="@{/member/{id}(id=${member.id})}">View Profile</a>
            </li>
        </ul>
    </div>
</body>
</html>
