<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="products-container">
        <h2>Products</h2>
        <button class="logout-button" onclick="logout()">Logout</button>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Category</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}">
                    <td><a href="javascript:void(0);" th:text="${product.name}" th:data-product-id="${product.id}" class="product-link"></a></td>
                    <td th:text="${product.description}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.stock}"></td>
                    <td th:text="${product.category}"></td>
                    <td><button class="cart-button" th:data-product-id="${product.id}">Add to Cart</button></td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            <a th:if="${currentPage > 0}"
                th:href="@{/products(page=${currentPage - 1})}" class="page-link">Previous</a>
            <a th:each="page : ${#numbers.sequence(0, totalPages - 1)}"
                th:href="@{/products(page=${page})}"
                th:classappend="${page == currentPage} ? ' disabled-link' : ''"
                th:text="${page + 1}" class="page-link">1</a>
            <a th:if="${currentPage < totalPages - 1}"
                th:href="@{/products(page=${currentPage + 1})}" class="page-link">Next</a>
        </div>
    </div>

    <!-- The Modal -->
    <div id="productModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Product Details</h2>
                <span class="close">&times;</span>
            </div>
            <div class="modal-body">
                <p><strong>Name:</strong> <span id="modalProductName"></span></p>
                <p><strong>Description:</strong> <span id="modalProductDescription"></span></p>
                <p><strong>Price:</strong> $<span id="modalProductPrice"></span></p>
                <p><strong>Stock:</strong> <span id="modalProductStock"></span></p>
                <p><strong>Category:</strong> <span id="modalProductCategory"></span></p>
            </div>
            <div class="modal-footer">
                <button id="modalAddToCartButton">Add to Cart</button>
            </div>
        </div>
    </div>

    <script th:src="@{/js/scripts.js}"></script>
</body>
</html>
