body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 12px;
}

th {
    background-color: #f4f4f4;
    color: #333;
}

tr:nth-child(even) {
    background-color: #fafafa;
}

tr:hover {
    background-color: #f1f1f1;
}

select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
}

.update-status-button {
    background-color: #4CAF50;
}

.update-status-button:hover {
    background-color: #45a049;
}

#backToHomeButton {
    background-color: #2196F3;
    margin-top: 20px;
    display: block;
    width: 100%;
    text-align: center;
}

#backToHomeButton:hover {
    background-color: #1e88e5;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
